<html>
<head>
	<title>Eredivise Matchday</title>
</head>
<body>
	
	<div>
		<%= render 'layouts/matchday_scores_links' %>
	</div>
	<div>
		<%= render 'layouts/matchday_scores' %>
	</div>

</body>
</html>